@import '../../../styles'
.containerForm
  display: flex
  flex-direction: column
  max-width: 700px
  row-gap: 30px
.containerForm__info
  strong
    @include fontStyles(18px , 700 , #fff ,center)
  p
    @include fontStyles(16px , 500 , #fff ,center)
    background: $Blue
    padding: 15px 40px
    line-height: 25px
    border-radius: 15px
    box-shadow: 0px 10px 5px 0px $DarkBlue
form
  background: #fff
  padding: 20px
  border-radius: 10px
  display: flex
  flex-direction: column
  justify-content: space-around
  box-shadow: 0px 10px 5px 0px $DarkBlue
  height: 450px
  div
    position: relative
.containerForm__warning
  p
    @include fontStyles(10px, 500, $GrayishBlue, center )
    line-height: 30px
    padding: 0 25px
  strong
    @include fontStyles(14px, 500, $Red, center )

.buttonStyle
  background: $Green
  border: none
  width: 100%
  padding: 20px 0
  text-transform: uppercase
  border-radius: 7px
  @include fontStyles(20px, 500, #fff, center )
  &:hover
    opacity: 0.8

.inputRequired
  border: 2px solid $Red

.errorMessajeContainer
 display: flex
 flex-direction: row
 justify-content: end
 color: $Red

@media only screen and ( min-width: 1440px  )
  form
    max-height: 500px
