<div class="containerForm">
  <div class="containerForm__info">
    <p><strong> Try it free 7 days </strong>then $20/mo. thereafter</p>
  </div>
  <div class="containerForm__form">
    <form action="">
      <div>
        <app-input
          [InputType]="textInput"
          [InputPlaceholder]="FirstName"
        ></app-input>
      </div>
      <div>
        <app-input
          [InputType]="textInput"
          [InputPlaceholder]="LastName"
        ></app-input>
      </div>
      <div>
        <app-input
          [InputType]="emailInput"
          [InputPlaceholder]="EmailAddress"
        ></app-input>
      </div>
      <div>
        <app-input
          [InputType]="passwordInput"
          [InputPlaceholder]="Password"
        ></app-input>
      </div>
      <div>
        <button class="buttonStyle" type="submit">Claim your free trial</button>
      </div>
      <div class="containerForm__warning">
        <p>
          By clicking the button, you are agreeing to our
          <strong>Terms and Services</strong>
        </p>
      </div>
    </form>
  </div>
</div>
